 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1198px;
}

.u-section-1 .u-shape-1 {
  width: 1120px;
  height: 990px;
  margin: 136px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("IMG_01101.jpg");
  background-position: 50% 50%;
  margin: -1084px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 623px;
  min-height: 515px;
  margin: -131px 58px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.8;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-shape-1 {
    height: 905px;
    margin-top: 159px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -967px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -38px;
    margin-right: 83px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-1 .u-shape-1 {
    height: 804px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 563px;
    min-height: 400px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-1 .u-shape-1 {
    height: 732px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 449px;
    height: 449px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    min-height: 439px;
    margin-top: -9px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-1 .u-shape-1 {
    height: 674px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-top: -811px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 245px;
    min-height: 423px;
    margin-top: 14px;
    margin-right: 35px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: url("yyyy-min.jpg");
  background-position: 50% 21.09%;
}

.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 765px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 111px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 329px;
  grid-gap: 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 70px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 31px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 70px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 31px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 70px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 31px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 70px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 31px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 271px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 83px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 622px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 107px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.0625rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 4.0625rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 4.0625rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-8 {
    font-size: 4.0625rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 703px;
}

.u-section-3 .u-text-1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  margin: 84px 76px 0;
}

.u-section-3 .u-list-1 {
  margin-top: 103px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16.6667px));
  min-height: 374px;
  grid-gap: 25px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-1 {
  width: 115px;
  min-height: 118px;
  background-image: none;
  height: auto;
  margin: -33px 74px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 66px;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  margin: 26px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-2 {
  width: 115px;
  min-height: 118px;
  background-image: none;
  height: auto;
  margin: -33px 74px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  width: 66px;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  margin: 26px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-3 .u-group-3 {
  width: 115px;
  min-height: 118px;
  background-image: none;
  height: auto;
  margin: -33px 74px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  width: 66px;
  margin: 0 auto;
}

.u-section-3 .u-text-9 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 22px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 300;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-family: Roboto, sans-serif;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 16.6667px));
    min-height: 308px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.500024999999999px));
    min-height: 708px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 50px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 50px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 60px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-4 .u-shape-1 {
  width: 1120px;
  height: 990px;
  margin: 94px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 569px;
  height: 569px;
  background-image: url("download11.jpg");
  background-position: 50% 50%;
  margin: -1016px 20px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 571px;
  min-height: 514px;
  height: auto;
  margin: -249px auto 60px 79px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-4 .u-shape-1 {
    height: 923px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -1075px;
    margin-right: 11px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -114px;
    margin-left: 65px;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 971px;
  }

  .u-section-4 .u-shape-1 {
    height: 729px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-4 .u-shape-1 {
    height: 718px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    width: 380px;
    margin-top: -85px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-4 .u-shape-1 {
    height: 757px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-top: -927px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 258px;
    min-height: 877px;
    margin: -24px 22px 0 auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-right: -27px;
    margin-left: 47px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 10px;
    margin-right: 10px;
  }
}